.result-mark {
  max-width:  none;
  max-height: none;
  overflow: hidden;
}

.julia {
  font-family: 'DejaVu Sans';
}

#statusbar {
  cursor: default;
}

.inline-result, .underline-result, .inline-exception {
  cursor: default;
}
