{:+
 {:app {"pmeta-n" [:julia.new]
        "pmeta-t" [:new-file]
        "pmeta-k-b" [:workspace.show]
        "ctrl-`" [:toggle-console]
        "pmeta-shift-p" [:show-commandbar]
        "ctrl-shift-c" [:editor.interrupt-clients]}

  :editor {"shift-enter" [:eval.one.move]
           "ctrl-m" [:editor.methods.toggle]
           "pmeta-/" [:toggle-comment-selection]
           "pmeta-;" [:auto-complete.force]}

  :editor.keys.hinting.active {"enter" [:passthrough]}}}
