[
 [:app "pmeta-k-b" :workspace.show]
 [:app "pmeta-shift-p" :show-commandbar]
 [:app "ctrl-shift-c" :editor.interrupt-clients]
 [:app "pmeta-n" :julia.new]
 [:app "pmeta-t" :new-file]
 [:app "ctrl-`" :toggle-console]
 [:app "pmeta-k pmeta-c" :clear-console]

 [:editor "pmeta-;" :auto-complete.force]
 [:editor "ctrl-m" :editor.methods.toggle]
 [:editor "shift-enter" :eval.one.move]
 [:editor "pmeta-/" :toggle-comment-selection]

 [:editor.keys.hinting.active "enter" :passthrough]
]
