{:+
 {:app {"pmeta-n" [:julia.new]
        "pmeta-t" [:new-file]
        "pmeta-/" [:toggle-comment-selection]
        "pmeta-;" [:auto-complete.force]
        "ctrl-shift-c" [:editor.interrupt-clients]}

  :editor.keys.hinting.active {"enter" [:passthrough]}}}
