{:+
 {:app {"pmeta-n" [:new-file (:set-syntax {:name "Julia"
                                           :exts [:jl]
                                           :mime "text/julia"
                                           :tags [:editor.julia]})]
        "pmeta-/" [:toggle-comment-selection]
        "pmeta-;" [:auto-complete.force]}

  :editor.keys.hinting.active {"enter" [:passthrough]}}}}
