{:name "Juno",
 :author "Mike Innes",
 :version "0.9.2",
 :source "https://github.com/one-more-minute/Juno-LT",
 :desc "Turn Light Table into a Julia IDE",
 :dependencies {:Julia "0.9.3", :June "0.3.0", :Reminisce "0.3.2"},
 :behaviors "juno.behaviors"}
