{:name "Juno",
 :author "Mike Innes",
 :version "1.0.0",
 :source "https://github.com/one-more-minute/Juno-LT",
 :desc "Turn Light Table into a Julia IDE",
 :dependencies {:Julia "1.0.0", :June "0.3.0", :Reminisce "0.3.3"},
 :behaviors "juno.behaviors"}
